
<div class="jumbotron text-xs-center">
    <div class="alert alert-success">
        <strong >Thank you!</strong> Your payment has been processed successfully.
      </div>
  <p class="lead"><strong>Thank you for your payment.</strong>  You will be receiving an email shortly to confirm the transaction.</p>
  <hr>
  <p style="margin-left:10px;">
    Having trouble? <a href="">Contact us</a>
  </p>
  <p class="lead" style="margin-left:10px;">
    <a class="btn btn-primary btn-lg " routerLink="/" role="button">Get more books</a>
  </p>
</div>
