/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "../node_modules/font-awesome/css/font-awesome.css";
body{
  padding-top: -10px;
  background-color:#DEB887;
 
}
head{
  background-color:#DEB887;
}
